{% extends 'template.html.twig' %}
{% block body %}



<ol class="list-group">
    {% for name,content in app.session.get('todos') %}
    <li class="list-group-item">{{ name }}:{{ content }}</li>
    {% endfor %}
</ol>
{% endblock %}

{% block myTitle %}Liste des Todos{% endblock %}
{% block page %}Liste des Todos qui sont aJoutée{% endblock %}