{% extends 'heritage.html.twig' %}


{% block DocumentCorp %}
    {{ parent() }}<!--ca pour recuperer le contenu du corp pour la page heritage-->
<div class="bg-primary text-white font-weight-bold"> hello ths is div</div>

{% endblock %}
